#Ignoruj środowisko virtualne
venv/

# Ignoruj prywatne dane i środowiska
.env

#Ignoruj pliki tymczasowe Pythona
__pycache__/
*.pyc

#Ignoruj pliki IDE
.idea/

#Pliki systemowe (np. z Maca)
.DS_Store
